<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.covid_19">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_icone"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_icone_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FakeNews"></activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Prevenir" />
        <activity android:name=".consulta.orientacoes.HospitalNotCovid" />
        <activity android:name=".consulta.orientacoes.HospitalCovid" />
        <activity android:name=".consulta.orientacoes.IsolamentoRigido" />
        <activity android:name=".consulta.orientacoes.FicarEmCasa" />
        <activity android:name=".consulta.perguntas.DoresParaCansaco" />
        <activity android:name=".consulta.perguntas.Dores" />
        <activity android:name=".consulta.perguntas.NotDoresParaCansaco" />
        <activity android:name=".consulta.perguntas.PesquisaFebre" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>